.grid {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    margin: 0.3em;
    height: 10em;
    width: 10em;
    flex-grow: 1;
}

    .grid-item:nth-child(2n) {
        width: 15em;
    }

    .grid-item:nth-child(2n) {
        width: 14em;
    }

    .grid-item:nth-child(4n) {
        width: 12em;
    }

    .grid-item:nth-child(5n) {
        width: 7em;
    }

    .grid-item:nth-child(6n) {
        width: 20em;
    }

    .grid-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }