@page "/"
@using Microsoft.Identity.Client
@using CommunityToolkit.Maui.Alerts
@using System.IdentityModel.Tokens.Jwt
@using System.Text
@using AuthServices
@inject AuthService authService

<button @onclick="LoginAsync">Login</button>
<p>@resultMessage</p>
@code
{
    string resultMessage = string.Empty;

    async Task LoginAsync()
    {
        AuthenticationResult? result = null;
        try
        {
            result = await authService.LoginAsync(CancellationToken.None);
        }
        catch (MsalClientException ex)
        {
            await Toast.Make(ex.Message).Show();
        }

        var token = result?.IdToken;
        if (token != null)
        {
            var handler = new JwtSecurityTokenHandler();
            var data = handler.ReadJwtToken(token);
            if (data != null)
            {
                var stringBuilder = new StringBuilder();
                stringBuilder.AppendLine($"Name: {data.Claims.FirstOrDefault(x => x.Type.Equals("name"))?.Value}");
                resultMessage = stringBuilder.ToString();
            }
        }
    }
}
